
body{
    font-family: arial, sans-serif;
    font-size: 14px;
}
.main
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    flex-direction: column;
}
.center{
    height: 225px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}
#searchbar{
    border: 1px solid rgba(184, 178, 178, 0.527);
    border-radius: 50px;
    
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
li 
{
    float: left;
    padding: 14px;
}
.topright
{
    float: right;
}
.botright
{
    float: right;
}
nav 
{
    position: fixed;
    top: 0;
    width: 100%;
}
footer 
{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(241,243,244,1);
    margin-left: -10px;
    border-top: 1px solid #e4e4e4;
    
}
a{
    text-decoration: none;
    color: rgb(34, 34, 34);
}
a:hover{
    text-decoration: underline;
}
input{
    width: 300px;
    height: 30px;
    border:1px solid #dadce0;
}
element {

}
#search-bar2 {

    position: relative;
    display: block;
    margin: auto;
    height: auto;
    border-radius: 50px;
    width: 450px;
    height: 40px;
    border-width: 0px;
    border: 1px solid rgba(184, 178, 178, 0.527);
    background-image: url(./assets/searchSprites.png);
    background-repeat: no-repeat;
    background-size: 27px;
    background-position: 8px 8px;
    text-indent: 40px;

}