

.main
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:;
}
li 
{
    float: left;
    padding: 14px;
}
.topright
{
    float: right;
}
.botright
{
    float: right;
}
nav 
{
    position: fixed;
    top: 0;
    width: 100%;
}
footer 
{
    position: fixed;
    bottom: 0;
    width: 100%;
}
